@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
  --dark-vader: #16171A;
  --white: #ffffff;
  --golden: #EBB666
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  background: var(--dark-vader);
}
